$font-robot : 'Roboto', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;
$font-permanent : 'Permanent Marker', cursive;
$font-montserrat: 'Montserrat', sans-serif;
$icons: "dripicons-v2";
a{
    text-decoration: none;
    color: black;
}
body{
    background-color: red;
}
#main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .background{
        
        transition: 300ms;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom:0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .name-color{
            display: inline-block;
            color: white;
            background-color: black;
            text-transform: uppercase;
            font-size: 35px;
            font-family: $font-montserrat;
            padding:6px 10px;
        }
    }
    .container{
        max-width: 1200px;
        display: flex;
        height: 100%;
        align-items: flex-end;
        margin: 0 auto;
        position: relative;
        .yes-or-no{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 30px;
            transition: 300ms;
            .button{
                color: black;
                padding: 4px 7px;
                background-color: white;
                border:1px solid black;
                font-size: 23px;
                font-family: $font-montserrat;
                font-weight: 300;
                border-radius: 7px;
                &:hover{
                    color: white;
                    background-color: black;
                }
            
            }
            &.clicked{
                margin-bottom: 270px;
            }
        }
        
        .panel{
            position: absolute;
            width: 100%;
            transition: 300ms;
            overflow: hidden;
            left: 50%;
            transform: translate(-50%,-100%);
            max-height: 250px;
            top: 100%;
            border:1px solid black;
            border-bottom: 0px;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            background-color: white;
            .overflowhidden{
                max-height: 250px;
                overflow-y: scroll;
                .choice{
                    margin-top: 30px;
                    text-align: center;
                    font-family: $font-montserrat;
                    font-weight: 500;
                    font-size: 20px;
                }
                .colors{
                    margin-top: 20px;
                    margin-bottom: 30px;
                    .list-color{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        li{
                            margin: 0 40px;
                            margin-top: 10px;
                            cursor: pointer;
                            .color-block{
                                background-color: red;
                                height: 60px;
                                width: 60px;
                                border-radius: 15px;
                                border: 1px solid black;
                                
                            }
                            .color-name-inf{
                                margin-top: 5px;
                                text-align: center;
                                font-family: $font-josefin;
                            }
                        }
                        #skip{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 60px;
                            .icon-skip{
                                width:40px;
                                height: 40px;
                                background-color: rgb(63, 164, 223);
                                border-radius: 50%;
                                transition: 300ms;
                                position: relative;
                                span{
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    right:0;
                                    width: 15px;
                                    height: 3px;
                                    background-color: white;
                                    transform-origin: right;
                                    transform:translate(-50%,-50%) rotate(40deg) ;
                                    border-radius: 3px;

                                }
                                span:nth-child(2n){
                                    
                                    transform:translate(-50%,-50%) rotate(-40deg) ;
                                }
                                span:first-child{
                                    width: 25px;
                                    left: 50%;
                                    transform:translate(-50%,-50%) rotate(0deg) ;
                                }
                            }
                            h3{
                                margin-top: 10px;
                                font-family: $font-josefin;
                                white-space: nowrap;
                            }
                            &:hover{
                                .icon-skip{
                                    transform: rotate(-270deg);
                                }
                            }
                        }
                    }
                }
            }   
            
        }
        .closed{
            transform: translate(-50%,0);
        }
    }
}
#add-new-color-block{
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color:rgba(20, 20, 20, 0.7);
    opacity: 1;
    transition: 300ms;
    .message{
        top: 50%;
        left:50%;
        padding-top: 40px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width:300px;
        background-color: white;
        height: 200px;
        border-radius: 20px;
        overflow: hidden;
        transform: translate(-50%,-50%);
        .current-color{
            position: absolute;
            top: 0;
            background-color: black;
            height: 40px;
            width: 100%;
        }
        .rgb{
            display: flex;
            flex-direction: column;
            .row{  
                margin-top: 6px;
                display: flex;
                justify-content: space-between;
                span{
                    margin-right: 20px;
                    font-family: $font-montserrat;
                }
                input{
                    display: inline-block;
                    width: 100px;
                }   
                &:first-child{
                    margin-top: 0;
                }
            }
            
        }
        .add-new-color-in-list{
            display:inline-block;
            padding:  6px 10px;
            background-color: rgb(63, 164, 223);
            color: white;
            font-size: 17px;
            font-family: $font-robot;
        }
    }   
}
#add-new-color-block.closed{
    opacity: 0.0;
    visibility: hidden;
}